<!DOCTYPE html>
<html lang="en" ng-app="toDoApp">
  <head>
    <meta charset="utf-8">
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/ToDoController.js"></script>
    <title>Todos App</title>
  </head>
  <body>
    <div id="todo" ng-controller="ToDoController as controller">
        <p ng-repeat="todo in controller.toDos">
          {{ todo.text }}: {{ todo.completed ? "completed" : "not completed" }}
          <button id="deleteToDo" ng-click="controller.deleteToDo(todo)">Delete</button>
        </p>
      <input id="addToDo" ng-model="toDoText" placeholder="add todo here"></input>
      <button id="submitToDo" ng-click="controller.addToDo(toDoText)">Add</button>
    </div>
  </body>
</html>
